* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

/*      HEADER      */
header {
    background: #202020;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    letter-spacing: 1px;   
}

.header-h1 {
    background: #dd5cf7;
    background: linear-gradient(109deg, rgba(221, 92, 247, 1) 0%, rgba(29, 141, 253, 1) 50%, rgba(128, 232, 131, 1) 100%);
    background-clip: text;
    color: transparent;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
}
/*      FIN HEADER      */

/*      MAIN      */





/*      FIN MAIN      */

/*      FOOTER      */
footer {
    background: #202020;
    color: #ccc;
    padding: 25px;
}

.footer-titulo {
    margin: 0px 0px -5px;
}

.footer-rrss {
    text-align: right;
}

.footer-links {
    color: #ffffff;
    text-decoration: none;
}

.footer-info {
    margin: -5px 0px
}
/*      FIN FOOTER      */