/* ===================================================== */
/*                       GENERAL                         */
/* ===================================================== */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f12;
    color: #eee;
    font-size: 16px;
}

.portada, .lanzamientos, .artistas, .festivales, .aside, .top {
    padding: 2rem;
}

/* ===================================================== */
/*                       FIN GENERAL                     */
/* ===================================================== */

/* ===================================================== */
/*                       HEADER                          */
/* ===================================================== */

header {
    background: #1a1a23;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #2f2f46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

.header-h1 {
    background: #dd5cf7;
    background: linear-gradient(109deg, rgba(221, 92, 247, 1) 0%, rgba(29, 141, 253, 1) 50%, rgba(128, 232, 131, 1) 100%);
    background-clip: text;
    color: transparent;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.menu-item a {
    text-decoration: none;
    color: #eee;
    padding: 0.3rem 0.5rem;
    transition: 0.2s ease;
}

.menu-item a:hover {
    color: #4dd7ff;
}

/* ===================================================== */
/*                       FIN HEADER                      */
/* ===================================================== */

/* ===================================================== */
/*                       PORTADA                         */
/* ===================================================== */

.portada {
    background: linear-gradient(135deg, #14141d, #0d0d12);
    text-align: center;
    border-bottom: 1px solid #33334a;
}

.portada-titulo {
    color: #4dd7ff;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.portada-desc {
    margin-bottom: 0.5rem;
}

.portada-links {
    padding: 0px 0px 10px;
}

.portada-links a {
    color: #ff2f8b;
    text-decoration: none;
}

.portada-img {
    margin-top: 1.5rem;
    border-radius: 10px;
    width: 60%;
    max-width: 400px;
    display: block;
    margin-inline: auto;
    box-shadow: 0 0 12px rgba(255, 47, 139, 0.4);
}

/* ===================================================== */
/*                       FIN PORTADA                     */
/* ===================================================== */

/* ===================================================== */
/*                    LANZAMIENTOS                       */
/* ===================================================== */

.lanzamientos-titulo {
    color: #ff2f8b;
    margin: 0 0 -10px;
}

.lanzamientos-link {
    text-decoration: none;
    color: #4dd7ff;
}

.lanzamientos-ver {
    text-align: right;
}

.lanzamientos-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1.5rem;
}

.lanzamiento-item {
    background: #191922;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.lanzamiento-item:hover {
    background: #232334;
    transform: translateY(-4px);
}

.lanzamiento-img {
    width: 100px;
    border-radius: 6px;
}

.lanzamiento-nombre {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #4dd7ff;
}

.lanzamiento-masinfo {
    text-decoration: none;
    color: #ff2f8b;
}

/* ===================================================== */
/*                   FIN LANZAMIENTOS                    */
/* ===================================================== */

/* ===================================================== */
/*                  ARTISTAS DESTACADOS                  */
/* ===================================================== */

.artistas-titulo {
    color: #ff2f8b;
    margin: 0 0 -10px;
}

.artistas-lista {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.artista-item {
    background: #191922;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease;
}

.artista-item:hover {
    background: #232334;
    transform: translateY(-4px);
}

.artista-img {
    width: 100px;
    border-radius: 6px;
}

.artista-nombre {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #4dd7ff;
}

.artista-genero {
    color: #fff;
}

/* ===================================================== */
/*                  FIN ARTISTAS DESTACADOS              */
/* ===================================================== */

/* ===================================================== */
/*                       FESTIVALES                      */
/* ===================================================== */

.festivales-titulo {
    color: #ff2f8b;
    margin: 0 0 -10px;
}

.festivales-ver {
    text-align: right;
}

.festivales-link {
    text-decoration: none;
    color: #4dd7ff;
}

.festivales-lista {
    list-style: none;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1.5rem;
}

.festival-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #191922;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease;
}

.festival-item:hover {
    background: #232334;
    transform: translateY(-4px);
}

.festival-img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.festival-nombre {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #4dd7ff;
}

.festival-detalle {
    margin-top: 0.4rem;
    color: #ccc;
    font-size: 0.9rem;
}

.festival-tags {
    color: #ff2f8b;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

/* ===================================================== */
/*                       FIN FESTIVALES                  */
/* ===================================================== */

/* ===================================================== */
/*                         ASIDE                         */
/* ===================================================== */

.festivales-container {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 1.5rem;
    align-items: start;
    margin-top: 1.5rem;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aside-item {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease;
}

.aside-item:hover {
    background: #232334;
    transform: translateY(-3px);
}

.aside-img {
    width: 100%;
    border-radius: 6px;
}

.aside-titulo {
    font-size: 1.1rem;
    color: #4dd7ff;
    margin-top: 0.5rem;
}

.aside-link {
    color: #ff2f8b;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 0.5rem;
}

/* ===================================================== */
/*                         FIN ASIDE                     */
/* ===================================================== */

/* ===================================================== */
/*                         TOP                           */
/* ===================================================== */

.top-titulo {
    color: #ff2f8b;
    margin: -10px 0 -10px;
}

.top-ver {
    text-align: right;
}

.top-link {
    text-decoration: none;
    color: #4dd7ff;
}

.top-lista {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
}

.top-item {
    background: #191922;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
}

.top-item:hover {
    background: #232334;
    transform: translateY(-2px);
}

.top-item em {
    color: #a1ebff;
    font-style: normal;
}

/* ===================================================== */
/*                         FIN TOP                       */
/* ===================================================== */

/* ===================================================== */
/*                        FOOTER                         */
/* ===================================================== */

footer {
    background: #1a1a23;
    border-top: 2px solid #2f2f46;
    text-align: center;
    padding: 2rem;
    margin-top: 200px;
}

footer h3 span {
    color: #ffffff;
}

.footer-links {
    color: #4dd7ff;
}

.footer-links:hover {
    color: #ff2f8b;
}

.footer-info {
    font-size: 0.9rem;
    margin-top: 0.4rem;
}

/* ===================================================== */
/*                        FIN FOOTER                     */
/* ===================================================== */

/* ===================================================== */
/*                        FIN INDEX                      */
/* ===================================================== */


/* ===================================================== */
/*                        DETALLES                       */
/* ===================================================== */

.top-lanzamientos-titulo {
    color: #ff2f8b;
    margin: 10px 0px -10px 10px;
}

.top-lanzamientos-ver {
    text-align: right;
    margin: -10px 15px 10px 0;
}

.top-lanzamientos-link {
    text-decoration: none;
    color: #4dd7ff;
    font-weight: bold;
}

.top-lanzamientos-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.top-lanzamiento-item {
    background: #191922;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-lanzamiento-item:hover {
    background: #232334;
    transform: translateY(-4px);
}

.top-lanzamiento-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.top-lanzamiento-nombre {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: #4dd7ff;
}

.top-lanzamiento-artista {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0.3rem;
}

.top-lanzamiento-audio {
    margin-top: 0.5rem;
    width: 100%;
}

/* ===================================================== */
/*                        FIN DETALLES                   */
/* ===================================================== */

/* ===================================================== */
/*                        ALTA                           */
/* ===================================================== */

.alta {
    margin-top: 200px;
}

.alta-titulo {
    color: #ff2f8b;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 200%;
}

.alta-form {
    background: #191922;
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px #000;
}

.alta-label {
    color: #4dd7ff;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.alta-input {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 2px solid #333;
    background: #0f0f16;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
}

.alta-input:focus {
    border-color: #ff2f8b;
    outline: none;
    background: #151520;
}

.alta-boton {
    margin-top: 1rem;
    padding: 0.8rem;
    background: #ff2f8b;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.alta-boton:hover {
    background: #ff57a7;
    transform: translateY(-3px);
}

/* ===================================================== */
/*                        FIN ALTA                       */
/* ===================================================== */